<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Manager</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cinzel Decorative">

</head>
<body>
    <div>
        <img src="images/3-removebg-preview.png" alt="Image Not Found">
        <h1>Expense Manager</h1>
    </div>
    <script> 
       setTimeout(function() {
        document.body.classList.add("fade-out");
       setTimeout(function() {
        window.location.href="loginpage.html";
    },3000);
       },2000);
       
    </script> 
</body>
</html>